<app-header/>
<main>
    <ul id="users">
        @for (item of users; track $index) {
            <li>
                <app-user [selectedUser]="selectedUserId === item.id" [user]="item" (select)="onSelectUser($event)" ></app-user>
            </li>
        }
    </ul>

    <!-- --------- Conditinal if ------------ -->
    @if(onSelectedUser){
        <app-tasks [username]="onSelectedUser!.name"/>
    }
    @else{
        <p id="fallback">Select a user to see their tasks!</p>
    }
    
</main>






