@if(isAddingTask)
{
    <app-new-task [UserId]="id!"  (hideTaskUI)="hideTaskUI()"/>
}
<section id="tasks">
    <header>
        <h2>{{username}}'s Tasks</h2>        
        <menu>
            <button (click)="showAddTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        <li>
            @for (item of selectedUserTasks; track $index) {
                <!-- <app-task [task]="item" (selectedTask)="completedTask($event)"/> -->
                <app-task [task]="item"/>
            }
        </li>
    </ul>
</section>



