
    .btn{
        border:none;
        outline: none;
        font-size: 14px;
        padding:5px 25px;
        border-radius: 10px;
        margin-top: 15px;
        cursor: pointer;
    } 
    .btn:hover{
        opacity: 0.8;
    }
    .btn-primary{
        background-color: green;
        color:white;
    }
    .btn-danger{
        background-color: red;
        color:white;
    }
    .btn-info{
        background-color: lightskyblue;
        color:black;
    }
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }


  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  } 
